/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
}

.new-task-form {
  background-color: #eee;
  padding: 2rem;
  font-size: 1.125rem;
}

.new-task-form input {
  font-size: 1.125rem;
  border: none;
  padding: 0.5rem;
}

.new-task-form input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: gray;
  color: #fff;
}

.task-list {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
}

.task-list__item {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.task-list__delete {
  /* Ocultamos el texto visualmente (solo disponible para lectores de pantalla) */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* Otros estilos */
  padding: 0;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  background-image: url(../img/trash.png);
  background-repeat: no-repeat;
  background-size: 12px 15.75px;
  width: 12px;
  height: 16px;
}
